{% extends 'base.html' %}
{% block title %}
  <title>Task Management - Password Change</title>
{% endblock %}
{% block content %}
  <div class="md:w-1/2 mx-auto py-4">
    {% if messages %}
      {% for message in messages %}
        <p class="px-2 py-1 {% if message.tags == 'success' %}bg-green-500 text-white{% endif %}">{{ message }}</p>
      {% endfor %}
    {% endif %}
    <h1>Password Change Successfully</h1>
    <a href="{% url 'dashboard' %}">Please Back To Dashboard</a>
  </div>
{% endblock %}
