<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
  </head>
  <body>
    <h1 class="text-center font-bold text-2xl">Welcome to Authentication System</h1>
    <div class="md:w-1/2 mx-auto">
      <form action="" method="post">
        {% csrf_token %}
        <input name="username" type="text" placeholder="enter your username" />
        <input name="password" type="password" placeholder="enter your password" />
        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
